<!DOCTYPE HTML>
<html>
	<head>
		<title>Hack-a-project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Hack <span>a PROJECT</span></a></div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Press the Button and Start Recording</h1>
					</header>
						<!--<a href="record.html" class="button big scrolly">Start Recording</a>-->

					<a href="/SpeechToText-WebSockets-Javascript/samples/browser/Sample.html" class="button big scrolly">Start Recording</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">


			</div>

		<!-- Scripts -->
			<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
